* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    margin-bottom: 10px;
}

.search button {
    background: #00feba;
    border: 0;
    border-radius: 30px;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.weather-icon {
    width: 100px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
}

.description {
    font-size: 20px;
    margin-top: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.col img {
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 20px;
    margin-top: -6px;
}

.details .col:first-child {
    justify-content: flex-start;
}

.details .col:last-child {
    justify-content: flex-end;
}


@media (max-width: 768px) {
    .card {
        padding: 20px;
    }

    .weather-icon {
        width: 80px;
    }

    .weather h1 {
        font-size: 40px;
    }

    .description {
        font-size: 18px;
    }

    .humidity, .wind {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .search input {
        width: 100%;
        margin-right: 0;
    }

    .search button {
        width: 100%;
    }

    .weather h1 {
        font-size: 30px;
    }

    .description {
        font-size: 16px;
    }

    .humidity, .wind {
        font-size: 16px;
    }
}