* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #293251;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    /* height: 300px;*/
    background-color: #fff;
    display: block;
    margin: 0 auto;
    background-radius: 10px;
    padding-bottom: 50px;
}

.Title {

    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;

}

.Title p {
    text-align: center;
    color: #293251;
    font-size: 1em;
    padding: 15px;
    margin: 0 auto;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.weather-container {
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;

}

.weather-icon {
    width:300px;
    height:128px;
}
.weather-icon img{
    display:block;
    margin:0 auto;

}
.temperature-value{
    width:300px;
    height:60px;
}
.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}
.temperature-value  p :hover{
    color: #f8d7da;

}
.temperature-value  span{
    font-size: 1em;
    color: #293251;
}
.temperature-description{
    width:300px;
    height:60px;
}
.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    font-size: 1.2em;
    text-align: center;
}
.location{

}
.location p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 0.9em;
    text-align: center;
}
